* {
    box-sizing: border-box;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 8px;
    font-family: 'Anonymous Pro', monospace;
    color: rgb(19, 20, 20);
    background: burlywood;
}
nav a{
    margin: 0 6px;
  border: 1px solid lightgray;
  padding: 20px;
  display: inline-block;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
   /*======= create a background property. Set the value to #F87B99 */
  background:#cd6090;
  box-shadow:10px 10px 5px  grey;
}

 h1, h2, h6 {
    font-family: 'Great Vibes', cursive;
    margin-bottom: 0;
    padding: 0 10px;
  /*=======  Update the font size to 30px */
  
    font-size: 30px;
    color: #8b3a62;
    font-weight: bold;
}

p {
    color: red;
}
footer nav a {
    margin: 0 6px;
    border: 1px solid lightgray;
    padding: 20px;
    display: inline-block;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
     /*======= create a background property. Set the value to #F87B99 */
    background:#cd6090;
    box-shadow:10px 10px 5px  grey;
}